name: Shell Commands
on: [push]
jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          node -v
          npm -v
      - name: Python command
        shell: python {0}
        run: |
          import platform
          print("Hello, world!")
          print(platform.python_version())
          print(platform.processor())
  run-windows-commands:
    runs-on: windows-latest
    needs: [run-shell-command]
    steps:
      - name: Run a Windows script
        run: |
          echo Hello, world!
          echo $env:OS
          echo $env:PROCESSOR_ARCHITECTURE
